@import url(https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic-ext);
body {
    font-family: Roboto;
    background-color: #f4f4f4
}

a {
    text-decoration: none
}

div.root {
    margin: 10vh auto 5vh;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none
}

.btn:hover a:hover {
    cursor: pointer
}

div#player {
    width: 330px;
    height: 60px;
    background-color: #FFF;
    margin: 5vh auto
}

div#player>* {
    max-height: 45px;
    margin: 0;
    text-align: left
}

img#toggle_play {
    display: inline-block;
    margin: 7px 5px 10px 10px;
    float: left
}

#player>p.band {
    background-color: #c5011e;
    height: 1.2em;
    font-size: 1.4em;
    width: 277px;
    margin-left: 50px;
    padding-left: 2px;
    color: #FFF;
    font-weight: 500
}

#player>p.track {
    text-align: left;
    margin-left: 60px;
    margin-top: 4px;
    font-size: 1.2em;
    font-weight: 400
}

a.soc {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    background-size: 100%;
    display: inline-block;
}

a#vk {
    background-image: url(/img/soc_vk.png);
}

a#vk:hover {
    background-image: url(/img/soc_vk_hover.png);
}


a#fb {
    background-image: url(/img/soc_fb.png);
}

a#fb:hover {
    background-image: url(/img/soc_fb_hover.png);
}


a#tw {
    background-image: url(/img/soc_tw.png);
}

a#tw:hover {
    background-image: url(/img/soc_tw_hover.png);
}

a#mail {
    background-image: url(/img/soc_mail.png);
}

a#mail:hover {
    background-image: url(/img/soc_mail_hover.png);
}
